@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: "Sour Gummy", sans-serif; */
    /* font-family: "Space Grotesk", sans-serif; */
    /* font-family: "Rowdies", sans-serif; */
    background: linear-gradient(135deg, #e73c4e 0%, #d32f3f 100%);
    height: 98vh;
    width: 99.9vw;
}

nav {
    font-family: "Rowdies", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    /* border-bottom: 1px solid white; */
    height: 50px;
    color: white;
    /* border: 1px solid white; */
    margin: 0px 1%;
    margin-top: 10px;
}

.nav-logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-content {
    background: linear-gradient(to right, #ffffff, #e3e1e1, #ffffff);
    color: #e73c4e;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 1px;
    align-items: center;
    padding: 10px 100px;
    /* width: 200px; */
    /* border: 1px solid white; */
    clip-path: polygon(0px 0px, 100% 0, 325px 60px, 70px 60px);
}

.nav-content p {
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    width: 200px;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    /* border: 1px solid white; */
}

.nav-center ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.nav-center ul li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.nav-center ul li a:hover {
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    transition: all 0.2s ease-in-out;
}

.nav-center ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.nav-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 2%; */
    height: 100%;
    /* border: 1px solid white; */
}

.nav-setting i {
    font-size: 30px;
    color: white;
}

.content {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 90%;
    width: 98%;
    /* border: 1px solid white; */
    margin: 1%;
}

.content .left {
    width: 450px;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
}

.content .left .profile-card {
    width: 100%;
    height: 85%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .content .left .notes {
    width: 100%;
    height: 10%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .left .profile-data {
    width: 100%;
    height: 20%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.content .right {
    width: 1200px;
    height: 85%;
    /* border-left: 1px solid #ffffff; */
    /* border-left:15px solid #ffe714; */
    border-radius: 10px;
    /* box-shadow: white 1px 5px 10px; */
    display: flex;
    /* background: linear-gradient(to bottom, #ffc71e 0%, #ffc929 50%, #f7e7b6 100%); */
    background: linear-gradient(to bottom, #f5d100 0%, #ffb302 50%, #ffedc4 100%);
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    margin-left: 1%;
    position: relative;
}

.content .last {
    width: 50px;
    height: 85.5%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: white;
    position: relative;
    right: -10px;
    border-radius: 5px;
    /* margin-right: 1%; */
}

.content .last a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;

}

.content.last a:hover {
    color: #e73c4e;
    transition: all 0.2s ease-in-out;
}

.content .last img {
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    background-color: white;
    /* border-radius: 50%; */
}

.profile-card-item {
    width: 100%;
    height: 100%;
    /* border: 5px solid white; */
    box-shadow: #ffffff 1px 5px 10px;
    margin-top: 25%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* background: white; */
    border-radius: 10px;
    background: linear-gradient(546deg, #e73c4e 50%, #ffffff 100%);
}

.profile-card-item .profile-image {
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-card-item .profile-name {
    width: 100%;
    height: 30%;
    position: relative;
    bottom: 80px;
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-direction: column;
    /* background: white; */
    margin: 0;
    z-index: 2;
}

.profile-name p {
    /* color: #ffffff; */
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 1100;
    /* background: #423ce7; */
    color: #e73c4e;
    background: white;
    width: 96%;
    padding-left: 15px;
    /* padding: 5px; */
}

.profile-name h1 {
    /* font-family: "Sour Gummy", sans-serif; */
    /* font-family: "Space Grotesk", sans-serif; */
    font-family: "Rowdies", sans-serif;
    /* color: #423ce7; */
    color: white;
    background: #e73c4e;
    padding-left: 10px;
    /* padding-right: -10px; */
    width: 97.5%;
    font-size: 40px;
    font-weight: 1100;
    /* text-align: center; */
    /* background: white; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.profile-image {
    position: relative;
}

.profile-image .jojopic {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 10%;
    z-index: 1;
}

.jojologo {
    position: absolute;
    top: 5px;
    height: 150px;
    width: 300px;
}

.jojoplace {
    position: absolute;
    top: 60%;
    height: 40%;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    mask-image: linear-gradient(to top, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 50%, transparent 100%);
}

.dio {
    position: absolute;
    /* bottom: 10px; */
    right: 33%;
    top: 70%;
    height: 25%;
    width: 20%;
    z-index: 1;
    animation: diowalk 15s alternate;
}

@keyframes diowalk {
    0% {
        transform: translateX(160%);
        /* overflow: hidden; */
    }

    100% {
        transform: translateX(0%);
    }
}

.jotaro {
    position: absolute;
    /* bottom: 10px; */
    left: 33%;
    top: 70%;
    height: 25%;
    width: 20%;
    z-index: 1;
    animation: jotarowalk 15s alternate;
}

@keyframes jotarowalk {
    0% {
        transform: translateX(-170%);
        /* overflow: hidden; */
    }

    100% {
        /* transform: translateX(0%); */
        transform: translateX(0%);
    }
}


.heading {
    overflow-y: scroll;
    height: 64%;
    /* border: 1px solid black; */
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.heading p {
    font-size: 40px;
    font-weight: 700;
    color: #e73c4e;
    /* background: white; */
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    font-family: "Rowdies", sans-serif;
}

.heading ul {
    margin: 27px 5%;
    width: 90%;
    list-style: none;
    /* color: #414244; */
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    /* font-family: "Rowdies", sans-serif; */
    font-family: "Sour Gummy", sans-serif;
    /* font-family: "Space Grotesk", sans-serif; */
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid white; */
    gap: 22px;
}

.menance {
    position: absolute;
    top: 25%;
    right: 20px;
    height: 50%;
    width: 50%;
    /* z-index: 0; */
}

.menance1 {
    position: absolute;
    bottom: 13%;
    left: 5px;
    height: 30%;
    width: 30%;
    z-index: 2;
}